/* Normalise */
@import "normalize";
@import "reset";
@import "fonts";

$p: 20px; // Your base font-size in pixels
$lh: $p*2; // 40px

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  font-weight: 300;
  margin:0;
}

p {
  margin:0;
}

h1 {
  $h1: $p*2;
  font-size: $h1;
  $h1-lh: $h1*1.25;
  line-height: $h1-lh;
  margin-bottom: $h1-lh;
}

h2 {

}

p {
  font-size: $p;
  line-height: $lh;
  margin-bottom: $lh;
}
/* Colours */
$primary-color: #00f;
$secondary-color: #fcc;
$accent-color: #ff0;
$dark: #333;
$grey: #aaa;
$light: #fff;

::selection {
  background: $accent-color;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: $accent-color;
  /* Gecko Browsers */
}
// HTML base
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-stretch: normal;
  font-size: $p;
  line-height: $lh;
  font-family: $serif;
  color: $primary-color;
}
// Body base
body {
  background: $light;
}

.contained {
  max-width: 800px;
  margin: 20px auto;
}

@media (max-width: 800px) {
  .contained {
    max-width:600px;
  }
}
